<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    @await RenderSectionAsync("Css", required: false)
</head>

<body>
    <div>123</div>
    <main>
        @RenderBody()
    </main>
    @await RenderSectionAsync("JS", required: false)
</body>

</html>
